.footer
	padding-top: 11px
	padding-bottom: 27px
	&__line
		width: 301px
		height: 7px
		margin: 0 auto
		background: #1FBAD6
	&__social
		width: 156px
		a
			margin-right: 8
			text-decoration: none
			&:last-child
				margin-right: 0
	&__links
		width: 390px
		margin: 0 auto
		&_main
			display: flex
			justify-content: space-between
			a
				font-weight: 300
				font-size: 15px
				text-transform: uppercase
				text-decoration: none
				color: #070716
		&_sub
			display: flex
			justify-content: space-between
			margin-top: 10px
			a
				font-weight: 300
				font-size: 11px
				text-transform: uppercase
				text-decoration: none
				color: #999999
		&_lang
			display: block
			margin: 0 auto
			margin-top: 19px
			font-weight: 400
			font-size: 11px
			text-align: center
			text-transform: uppercase
			color: #1FBAD6
			a
				text-decoration: none
	&__stor
		display: flex
		justify-content: flex-end
		a
			text-decoration: none
			margin-right: 6px
			&:last-child
				margin-right: 0
			img
				height: 27px
				width: 94px


	.wrapper
		display: flex
		justify-content: space-between
		align-items: start
		padding-top: 32px
		& > div
			width: 33%
